<style>

    .tableThead {
        background-color: #cfe2ff !important;
    }

    .wrapperCheck {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Check {
        appearance: none !important;
        width: 40px !important;
        height: 20px !important;
        border-radius: 40px !important;
        background: #ddd !important;
        position: relative !important;
        outline: 0 !important;
        cursor: pointer !important;
    }

        .Check:before {
            position: absolute !important;
            content: "" !important;
            width: 100% !important;
            height: 100% !important;
            background: blue !important;
            border-radius: 20px !important;
            transform-origin: 50% 50% !important;
            transform: scale(0) !important;
            transition: all .35s !important;
        }

        .Check:after {
            position: absolute !important;
            content: "" !important;
            width: 15px !important;
            height: 15px !important;
            background: #eee !important;
            border-radius: 50% !important;
            top: 50% !important;
            left: 2px !important;
            transform: translateY(-50%) !important;
            transition: all .35s !important;
        }

        .Check:checked:before {
            transform: scale(1) !important;
        }

        .Check:checked:after {
            left: calc(100% - 17px) !important;
        }

    .MycollapsibleButton {
        background-color: #cfe2ff;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-bottom: 5px;
    }

        .CollActive, .MycollapsibleButton:hover {
            background-color: #94B8F0;
        }

        .MycollapsibleButton:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .CollActive:after {
        content: "\2212";
    }

    .MycontentColl {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<div class="container">

    <form role="form">
        <script cam-script type="text/form-script">
            camForm.on('form-loaded', function() {
                camForm.variableManager.fetchVariable('providers');
                camForm.variableManager.fetchVariable('branches');
            });

            camForm.on('variables-fetched', function() {
                var ProviderString = camForm.variableManager.variableValue('providers');
                if(ProviderString != null){
                    try{
                        $scope.providers = JSON.parse(ProviderString);
                    }
                    catch(e){
                        $scope.providers = [];
                    }
                }
                else $scope.providers = [];

                var BranchString = camForm.variableManager.variableValue('branches');
                if(BranchString != null){
                    try{
                        $scope.branches = JSON.parse(BranchString);
                    }
                    catch(e){
                        $scope.branches = [];
                    }
                }
                else $scope.branches = [];
            });

            $scope.addRowProvider = function(){
                $scope.providers.push({
                    'status': 'false',
                    'name': ''
                });
                var coll = document.getElementsByClassName("ProviderTable");
                var content = coll[0].nextElementSibling;
                content.style.maxHeight = content.scrollHeight + 45 + "px";
            }

            $scope.addRowBranch = function(){
                $scope.branches.push({

                    'status': 'false',
                    'name': ''
                });
                var coll = document.getElementsByClassName("BranchTable");
                var content = coll[0].nextElementSibling;
                content.style.maxHeight = content.scrollHeight + 45 + "px";
            }

            $scope.deleteRowProvider = function (item) {
                let index = $scope.providers.indexOf(item);
                $scope.providers.splice(index, 1);
            };

            $scope.deleteRowBranch = function (item) {
                let index = $scope.branches.indexOf(item);
                $scope.branches.splice(index, 1);
            };

            $scope.options.hideCompleteButton = true;
            inject([ '$rootScope', '$scope', 'Notifications', function($rootScope, $scope, Notifications) {
                $scope.doComplete = function(pumpumpum) {
                    var methodMerchant = pumpumpum;
                    var provider = $scope.providers;
                    var branches = $scope.branches;
                    camForm.variableManager.variable('providers').value = provider;
                    camForm.variableManager.variable('providers').type = 'json'
                    camForm.variableManager.variable('branches').value = branches;
                    camForm.variableManager.variable('branches').type = 'json'
                    if(camForm.variableManager.variable('methodMerchant') == null){
                        camForm.variableManager.createVariable({
                              name: 'methodMerchant',
                              type: 'String',
                              value: methodMerchant
                        });
                    }
                    else{
                        camForm.variableManager.variable('methodMerchant').value = methodMerchant;
                    }
                    $scope.complete(Notifications.addMessage({
                            status: 'Successfully Submitted',
                            message: 'Form has been successfully submitted',
                            scope: $scope
                        }));
                }
            }]);
        </script>
        <div class="form-group row">
            <div class="form-group col-md-2">
                <label class="control-label">Id Мерчанта в системе AnorCheck</label>
            </div>
            <div class="form-group col-md-2">
                <input type="text"
                       cam-variable-name="companyId"
                       cam-variable-type="String"
                       readonly
                       class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-warning" ng-click='doComplete("FindMerchant")'>Поиск Мерчанта</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label class="control-label">Наименование</label>
                <input type="text"
                       cam-variable-name="CompanyName"
                       cam-variable-type="String"
                       required
                       class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">ИНН Компании</label>
                <input type="text"
                       cam-variable-name="INN"
                       cam-variable-type="String"
                       required
                       class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label class="control-label">Транзитный счет</label>

                <input type="text"
                       cam-variable-name="TransAcc"
                       cam-variable-type="String"
                       required
                       class="form-control" />
            </div>
            <div class="form-group col-md-6 ">
                <label class="control-label">Статус</label>
                <input type="checkbox"
                       cam-variable-name="StatusMerchant"
                       cam-variable-type="Boolean"
                       class="form-control Check" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="MycollapsibleButton ProviderTable">Поставщики</button>
                <div class="MycontentColl">
                    <button class="btn btn-info" ng-click="addRowProvider()">Добавить Поставщика</button>
                    <button class="btn btn-success" ng-click='doComplete("RegisterProviders")'>Сохранить в AnorCheck</button>
                    <table class="table table-hover table-bordered">
                        <thead class="tableThead">
                            <tr>
                                <th>BillMaster Id</th>
                                <th>Статус</th>
                                <th>AnorCheck Id</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in providers">
                                <td>
                                    <input type="text"
                                           ng-model="item.name"
                                           cam-variable-type="text"
                                           required
                                           class="form-control" />
                                </td>
                                <td>

                                    <input type="checkbox"
                                           ng-model="item.status"
                                           cam-variable-type="Boolean"
                                           class="Check"
                                           id="flexSwitchCheckDefault" />

                                </td>
                                <td>
                                    <input type="text"
                                           ng-model="item.billNasterId"
                                           cam-variable-type="text"
                                           readonly
                                           class="form-control" />
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="deleteRowProvider(item)">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="MycollapsibleButton BranchTable">Филиалы</button>
                <div class="MycontentColl">
                    <button class="btn btn-info" ng-click="addRowBranch()">Добавить Филиал</button>
                    <button class="btn btn-warning" ng-click='doComplete("FindFilial")'>Поиск филиалов по Мерчанту</button>
                    <button class="btn btn-success" ng-click='doComplete("RegisterFilial")'>Сохранить в AnorCheck</button>
                    <table class="table table-hover table-bordered">
                        <thead class="tableThead">
                            <tr>
                                <th>Наименование</th>
                                <th>Поставщик ID</th>
                                <th>Статус</th>
                                <th>Филиал ID ANORCHECK</th>
                                <th>SecretKey</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in branches">
                                <td>
                                    <input type="text"
                                           ng-model="item.name"
                                           cam-variable-type="text"
                                           required
                                           class="form-control" />
                                </td>
                                <td>
                                    <input type="text"
                                           ng-model="item.recipientID"
                                           cam-variable-type="text"
                                           required
                                           class="form-control" />
                                </td>
                                <td>

                                    <input type="checkbox"
                                           ng-model="item.status"
                                           cam-variable-type="Boolean"
                                           class="Check"
                                           id="flexSwitchCheckDefault" />

                                </td>
                                <td>
                                    <input type="text"
                                           ng-model="item.childIdAnorGo"
                                           cam-variable-type="text"
                                           readonly
                                           class="form-control" />
                                </td>
                                <td>
                                    <input type="text"
                                           ng-model="item.secretKey"
                                           cam-variable-type="text"
                                           readonly
                                           class="form-control" />
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="deleteRowBranch(item)">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-bottom:5px">
                        <label class="control-label">Результат запроса</label>
                        <input type="text"
                               cam-variable-name="resultFindFilial"
                               cam-variable-type="String"
                               readonly
                               class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-danger" ng-click='doComplete("Exit")'>Завершить процесс</button>
        </div>
    </form>
</div>

<script>
    var coll = document.getElementsByClassName("MycollapsibleButton");
    var i;
    for (i = 0; i < coll.length; i++) {

        coll[i].addEventListener("click", function () {
            this.classList.toggle("CollActive");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>